<article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPosts">
    <header>
        <h1 itemprop="name">
            <a href="[% r.entry_path(id => entry.id) | html %]" itemprop="url">
                [% entry.title | html %]
            </a>
        </h1>
        <p class="metadata">
            <time datetime="[% entry.created_at | html %]" pubdate itemprop="datePublished">
                [% entry.created_at.strftime('%H:%M') | html %]
            </time>
        </p>
        [% IF r.has_permission_for(entry) %]
            <p class="actions">
                <span class="edit">
                    <a href="[% r.edit_entry_path(id => entry.id) | html %]" title="編集">✎</a>
                </span>
            </p>
        [% END %]
    </header>
    <div class="body" itemprop="articleBody">
        [% entry.formatted_body %]
    </div>
</article>
