<article>
    <h2>
        <a href="[% r.entry_path(id => entry.id) | html %]">
            [% entry.title | html %]
        </a>
    </h2>
    [% entry.formatted_body %]
    <div class="actions">
        [% IF r.has_permission_for(entry) %]
        <div class="edit">
            <a href="[% r.edit_entry_path(id => entry.id) | html %]">編集</a>
        </div>
        <div class="destroy">
            <form method="POST" action="[% r.destroy_entry_path(id => entry.id) | html %]">
                <input type="submit" value="削除" />
            </form>
        </div>
        [% END %]
    </div>
</article>
